.map{
    width: 100%;
    height: 88vh;
    margin-top: 81px;
}

ul{
    margin-bottom: 0;
}

.base-control{
    position: absolute;
    background: #DCDCDCdd;
    border: 1px solid rgb(102, 102, 102);
    border-radius: 3px;
    padding: 10px;
}

.control-change-basemap{
    z-index: 10;
    right: 10px;
    top: 90px;
}

.control-select-raster-layers{
    z-index: 9999;
    right: 10px;
    top: 300px;
}

.control-select-vector-layers{
    z-index: 9999;
    right: 10px;
    top: 465px;
}

.leyend{
    z-index: 9999;
    left: 10px;
    top: 240px;

    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.data-display{
    z-index: 2;
    left: 10px;
    top: 150px;
}

.more-info{
    z-index: 2;
    left: 10px;
    bottom: 20px;
    background: rgb(54, 46, 92);
    color: white;
}

.base-control > label{
    display: block;
    margin: 10px 0;
    font-size: 20px;
    font-family: "Lato", sans-serif;
}

.layer-list{
    padding-left: 10px;
}

.layer-list > li{
    list-style-type: none;
}

.leyend-title{
    font-size: 22px;
    font-weight: bold;
}

.leyend-list{
    list-style-type: none;
    padding-left: 20px;
}

.leyend-section{
    font-size: 18px;
    margin: 10px 0 0 0;
    font-weight: bold;
}

.leyend-category{
    font-size: 15px;
    margin: 10px 0 0 5px;
}

.leyend-attribute{
    font-size: 12px;
    margin-left: 20px;
}

.leyend-value{
    font-size: 10px;
    margin-left: 30px;
}

.tile-display{
    z-index: 2;
    right: 138px;
    top: 218px;
}

.no-margin{
    margin: 0;
}